/* 로그인 페이지 스타일 시작 */

/* 헤더 들어갈 시 wrap부분 margin-top 줘야함 */
.li-wrap {
  width: 100%;
  margin-top: 0;
}

.li-container {
  position: absolute;
  left: 35%;
  top: 15%;
}
.li-intro {
  margin-left: 20px;
  margin-bottom: 100px;
}

.li-input {
  margin-top: 30px;
}

/* mail,pw창 스타일 */
.li-email,
.li-pw {
  width: 500px;
  height: 50px;
  font-size: 20px;
  background-color: #e7e4e4;
  border-style: none;
  margin-bottom: 20px;
}

.li-email::placeholder,
.li-pw::placeholder {
  color: #cecece;
  padding-left: 50px;
}

/* login 스타일 */
.li-login {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  background-color: #b1b1b1;
  font-size: 20px;
  border-style: none;
  color: #ffffff;
}
.li-j {
  margin-top: 10%;
}
.li-join {
  border-style: none;
  background-color: none;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
}

/* 로그인 페이지 스타일 끝 */
